    h1 {
        color: rgb(59, 153, 142);
        font-size: 45px;
        background-color: rgb(207, 205, 205);
    }

    #heartOne, #heartTwo, #heartThree, #heartFour, #heartFive,
    #heartSix, #heartSeven, #heartEight, #heartNine {
        position: relative;
        overflow: hidden;
        width: 80px;
        height: 60px;
        margin: 15px;
        background: linear-gradient(yellow,red);
        border: 3px solid rgb(0, 173, 0);
        border-radius: 8px;
        font-size: 0,3px;
        text-align: center;
    }

    #but {
        box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 2px solid rgb(39, 59, 148);
        margin: auto;
        border-radius: 4px;
        font-family: Georgia, 'Times New Roman', Times, serif;
           
 
        background-color: rgb(60, 194, 218);
        color: rgb(39, 59, 148);
        font-size: 20px;
        cursor: all-scroll;
    }

    #print {
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
 
        color: rgb(0, 0, 0);
        font-size: 25px;
    }

    #main {
        background: linear-gradient(green,blue,yellow);
        text-align: center;
        height: 100%;
    }

    #ins {
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
             
        color: rgb(172, 172, 172);
        font-size: 20px;
        border: 10px black;
    }

    div.Row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    img.image1{
        height: 30px;
        width: 30px;
    }

    @media only screen and (max-width: 270px){
        #heartOne, #heartTwo, #heartThree, #heartFour, #heartFive,
        #heartSix, #heartSeven, #heartEight, #heartNine {
            position: relative;
            overflow: hidden;
            width: 50px;
            height: 40px;
            margin: 9px;
            background: olive;
            border: 3px green;
            border-radius: 8px;
            font-size: 0,3px;
            text-align: center;
        }
    
    }